/*Paltea de cores do portifolio*/
:root{
    --primary-color:#0F0F0F;
    --secundary-color:#1F1F1F;
    --tertyary-color:#2e2e2e;
    --primary-details-color: #7C3AED;
    --secundary-details-color:#5b21b6;
    --tertyary-details-color:#A78BFA;
}

header{
    display: flex;
    height: 15vh;
    background-color: var(--primary-color);
    border: 2px solid var(--secundary-color);
    align-items: center; /*alinha os itens verticalmente*/
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    width: 100%;
}

header p{
    font-size: 2.7vh;
    font-family:Montserrat, sans-serif ;
    color: var(--primary-details-color);
    padding-left: 30px;
}

header nav{
    padding-right: 30px;
}

header nav a{
    font-size: 2.7vh;
    font-family: Montserrat, sans-serif;
    margin: 6px;
    text-decoration: none;
    color: var(--primary-details-color);
}

header nav a:hover{
    color: #6931ca;
    transition: 0.2s;
}

.home{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:var(--secundary-color);
    align-items: center;
}

.home h2{
    font-size: 10vh;
    font-family: Montserrat, sans-serif;
    color: var(--secundary-details-color);
    padding-top: 3vh;
}

.home p{
    font-size: 4vh;
    font-family: Lato, sans-serif;
    width: 50vw;
    text-align: center;
    color: white;
}

.frase-efeito{
    padding-top: 15vh;
}

.home div{
    padding-top: 5vh;
    display:flex;
    gap: 1.5vh;
}

.meu-trabalho{
    background-color:#2e2e2e;
    height: 12vh;
    width: 17vw;
    border: 2px solid var(--secundary-details-color);
    border-radius: 35px;
    font-size: 2.3vh;
    color: white;
}

.entre-contato{
    background-color: var(--secundary-details-color);
    height: 12vh;
    width: 17vw;
    border: 2px solid var(--secundary-details-color);
    border-radius: 35px;
    font-size: 2.3vh;
    color: white;
}

.entre-contato:hover{
    background-color:#4d1d9b;
    transition: 0.2s;
}

.logos img{
    height: 8vh;
    width:auto;
}

.sobre{
    height: 100vh;
    background-color: var(--secundary-color);
}

.sobre h3{
    text-align: center;
    padding-top: 20vh;
    font-size: 8vh;
    color: var(--secundary-details-color);
}

.sobre-mim{
    display: flex;
    padding-top: 8vh;
}

.descricao-pessoal{
    background-color: var(--tertyary-color);
    border-radius: 10px;
    border: 1px solid #3b3b3b;
    width: 50vw;
    margin-left: 25px;
}

.descricao-pessoal h4{
    text-align: center;
    font-size: 5vh;
    color: rgb(214, 214, 214);
}

.descricao-pessoal p{
    padding-top: 4.3vh;
    font-size: 3.2vh;
    font-family: Lato, sans-serif;
    color: rgb(214, 214, 214);
    margin-left: 15px;
}

.skills{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.skills h4{
    text-align: center;
    font-size: 5vh;
    color: rgb(214, 214, 214);
}

.soft-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
    padding-top: 5vh;
}

.soft-skills div{
    display: flex;
    width: 22vw;
    height: 9vh;
    border-radius: 8px;
    align-items: center;
    background-color: aqua;
}

.soft-skills div p{
    margin-left: 8px;
}

.habilidades{
    height: 135vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a11e2f;
}

.habilidades h3{
    padding-top: 20vh;
    font-size: 7vh;
}

.habilidades p{
    padding-top: 3vh;
    width: 60vw;
    text-align: center;
    font-size: 3.4vh;
}

.habilidade-tecnicas{
    display: flex;
    flex-wrap: wrap;
    gap: 7vh;
    padding-top: 5vh;
    padding-left: 15vh;
}

.habilidade-tecnicas div{
    height: 30vh;
    width: 15vw;
    background-color: bisque;
    border: 2px solid bisque;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.habilidade-tecnicas div:hover{
    border: 2px solid blue;
    background-color: rgb(249, 232, 211);
    transition: 0.3s;
}

.habilidade-tecnicas div img{
    height: 8vh;
    width: 8vw;
}

.projetos{
    height: 100vh;
    background-color: #9e192a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos h3{
    padding-top: 20vh;
    font-size: 8vh;
    text-align: center;
}

.projetos p{
    text-align: center;
    font-size: 3.8vh;
    width: 50vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.projetos-destaque{
    background-color: aliceblue;
}

footer{
    height: 20vh;
    display: flex;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: var(--primary-color);
}

footer p{
    color: rgb(214, 214, 214);
    font-size: 2vh;
    font-family: Lato, sans-serif;
}

footer nav a{
    text-decoration: none;
    color: var(--primary-details-color);
    margin: 3px;
    font-size: 2vh;
    font-family: Lato, sans-serif;
}

footer nav a:hover{
    color: #6931ca;
}
