/*Paltea de cores do portifolio*/
:root{
    --primary-color:#D7263D;
    --secundary-color:#0B0F14;
    --tertiary-color: blue;
    --quaternary-color:yellow;
}

header{
    display: flex;
    height: 15vh;
    background-color: #D7263D;
    border: 2px solid #821717;
    align-items: center; /*alinha os itens verticalmente*/
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    width: 100%;
}

header p{
    font-size: 3vh;
    color: #E6EDF3;
    padding-left: 30px;
}

header nav{
    padding-right: 30px;
}

header nav a{
    font-size: 3vh;
    margin: 8px;
    text-decoration: none;
    color: #E6EDF3;
    border: 5px solid var(--primary-color);
    background-color: var(--primary-color);
}

header nav a:hover{
    border: 5px solid blue;
    border-radius: 10px;
    background-color: blue;
    transition: 0.3s;
}

.home{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:brown;
    align-items: center;
    gap: 30px;
}

.home h2{
    font-size: 10vh;
    padding-top: 30px;
}

.home p{
    font-size: 4vh;
    width: 50vw;
    text-align: center;
    color: white;
}

.meu-trabalho{
    background-color: antiquewhite;
    height: 12vh;
    width: 17vw;
    border: 2px solid blue;
    border-radius: 15px;
    font-size: 2.3vh;
}

.entre-contato{
    background-color: antiquewhite;
    height: 12vh;
    width: 17vw;
    border: 2px solid blue;
    border-radius: 15px;
    font-size: 2.3vh;
}

.entre-contato:hover{
    color: yellow;
    background-color:blue;
    transition: 0.2s;
}

.logos{
    display: flex;
    gap: 20px;
}

.logos img{
    height: 8vh;
    width:auto;
}

.sobre{
    height: 100vh;
    background-color: rgb(145, 19, 19);
}

.sobre h3{
    text-align: center;
    padding-top: 20vh;
    font-size: 8vh;
}

.sobre-mim{
    display: flex;
    padding-top: 8vh;
}

.descricao-pessoal{
    background-color: antiquewhite;
    width: 50vw;
}

.descricao-pessoal h4{
    text-align: center;
    font-size: 5vh;
}

.descricao-pessoal p{
    padding-top: 5vh;
    font-size: 3.5vh;
    margin-left: 15px;
}

.skills{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.skills h4{
    text-align: center;
    font-size: 5vh;
}

.soft-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
    padding-top: 5vh;
}

.soft-skills div{
    display: flex;
    width: 22vw;
    height: 9vh;
    border-radius: 8px;
    align-items: center;
    background-color: aqua;
}

.soft-skills div p{
    margin-left: 8px;
}

.habilidades{
    height: 135vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a11e2f;
}

.habilidades h3{
    padding-top: 20vh;
    font-size: 7vh;
}

.habilidades p{
    padding-top: 3vh;
    width: 60vw;
    text-align: center;
    font-size: 3.4vh;
}

.habilidade-tecnicas{
    display: flex;
    flex-wrap: wrap;
    gap: 7vh;
    padding-top: 5vh;
    padding-left: 15vh;
}

.habilidade-tecnicas div{
    height: 30vh;
    width: 15vw;
    background-color: bisque;
    border: 2px solid bisque;
    border-radius: 10px;
}

.habilidade-tecnicas div:hover{
    border: 2px solid blue;
    background-color: rgb(249, 232, 211);
    transition: 0.3s;
}
